* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #cc212a;
  font-weight: "Semi-bold";
}
.title-item {
  display: block;
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 3px solid #cc212a;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #cc212a;
  text-align: center;
  line-height: 50px;
  color: white;
  transform: translate(0, -50%);
}

@media all and (min-width: 768px) {
  .footer {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 25px;
  }
  .logo {
    transform: translate(0, 0);
  }
}
